<% if (theme.toc && theme.toc.enable !== false) { %>
<aside class="joe_aside">
  <div class="joe_aside_post">
    <div class="toc-container">
      <h3 class="toc-header">
        <i class="joe-font joe-icon-mulu" title="文章目录" aria-hidden="true"></i>文章目录
      </h3>
      <div id="js-toc" class="toc"></div>
    </div>
  </div>
</aside>
<% } %>
